#mapDiv {
    height: 75%;
    border: 2px solid rgb(124, 123, 123)
}

#routeInfoDiv {
    height:25%;
    text-align:center;
    padding-top: 5%;
    overflow-y:scroll;
}

.cat-val {
    font-weight: bold;
}

.val {
    color: rgb(85, 84, 84)
}